<form action="/to_donts" method="POST">
<div>
  <label for="decription">Decription:</label>
  <input type="text" name="decription">
</div>
<div>
  <label for="urgent">Urgent:</label>
  <span>yes</span><input type="radio" name="urgent" value="true" checked>
  <span>no</span><input type="radio" name="urgent" value="false">
</div>
<div>
  <input type="submit" value="Finished">
</div>
</form>
