<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>
<h1>This is the comments page</h1>
<ul>
  <h1><%= @article.content %></h1>

  <% @comments.each do |comment| %>
  <li>
    <%= comment.opinion %>
  </li>
  <% end %>

</ul>
